<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Marc - Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: MyResume
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="{% url 'index' %}" class="nav-link scrollto"><i class="bx bx-home"></i>
                        <span>Accueil</span></a>
                </li>
                <li><a href="{% url 'index' %}#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>A
                            propos</span></a></li>
                <li><a href="{% url 'skills' %}" class="nav-link scrollto"><i
                            class="bx bx-file-blank"></i><span>Compétences</span></a>
                </li>
                <li><a href="{% url 'resume' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                        <span>Parcours</span></a>
                </li>
                <li><a href="{% url 'realisation' %}" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Portfolio</span></a>
                </li>
                <li><a href="{% url 'loisir' %}" class="nav-link scrollto"><i class="bx bx-server"></i>
                        <span>Loisirs</span></a>
                </li>
                <li><a href="{% url 'contact' %}" class="nav-link scrollto active"><i class="bx bx-envelope"></i>
                        <span>Contact</span></a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->

    <main id="main">

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Me voir ? Venez au:</h4>
                                <p>Lot II C 4 Ampandrana Ouest, Antananarivo, Madagascar</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Discuter par email:</h4>
                                <p>marc.ravoahangy@outlook.fr</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Envie de discuter?</h4>
                                <p>+261 34 40 668 64</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="{% url 'contact' %}" role="form" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <!-- {{ form.name }} -->
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <!-- {{ form.email }} -->
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <!-- {{ form.message }} -->
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>

                            <div class="text-center" style="margin-top: 20px;"><button type="submit"
                                    id="button-sendmail">Envoyer</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->


    </main>
    <!-- End #main -->



    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>